<section class="section dashboard">
    <div class="row">
      <div class="col-lg">
        <div class="folder-card">
          <i class="bi bi-plus-lg"></i>
          <p class="folder-card-title">Create</p>
        </div>
      </div>
      <div class="col-lg">
        <div class="folder-card">
          <i class="bi bi-upload"></i>
          <p class="folder-card-title">Upload</p>
        </div>
      </div>
      <div class="col-lg">
        <div class="folder-card">
          <i class="bi bi-file-earmark-plus-fill"></i>
          <p class="folder-card-title">Create Folder</p>
        </div>
      </div>
      <div class="col-lg">
        <div class="folder-card">
          <i class="bi bi-record-circle"></i>
          <p class="folder-card-title">Record</p>
        </div>
      </div>
      <div class="col-lg">
        <div class="folder-card">
          <i class="bi bi-pencil-square"></i>
          <p class="folder-card-title">Edit File</p>
        </div>
      </div>
    </div><!-- End Acition Card -->

    <app-upload-file></app-upload-file>

    <div class="recent-section">
      <div class="recent-title">
        <div>
          <h3>Recent Opens</h3>
        </div>
        <div>
          <a href="#">see all</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg">
          <div class="recent-card-blue">
            <div class="recent-card-style">
              <div class="recent-card-top">

              </div>
            </div>
            <div class="recent-card">
              <div class="recent-card-title">
                <span>Forcasting October 2024 by Alan</span>
                <i class="bi bi-three-dots-vertical"></i>
              </div>

              <div class="recent-card-info">
                <span>Last edited 23:00</span>
                <i class="bi bi-star-fill"></i>
              </div>

            </div>
          </div>

        </div>


        <div class="col-lg">
          <div class="recent-card-orange">
            <div class="recent-card-style">
              <div class="recent-card-top">

              </div>
            </div>
            <div class="recent-card">
              <div class="recent-card-title">
                <span>Forcasting October 2024 by Alan</span>
                <i class="bi bi-three-dots-vertical"></i>
              </div>

              <div class="recent-card-info">
                <span>Last edited 23:00</span>
                <i class="bi bi-star-fill"></i>
              </div>

            </div>
          </div>

        </div>

        <div class="col-lg">
          <div class="recent-card-yellow">
            <div class="recent-card-style">
              <div class="recent-card-top">

              </div>
            </div>
            <div class="recent-card">
              <div class="recent-card-title">
                <span>Forcasting October 2024 by Alan</span>
                <i class="bi bi-three-dots-vertical"></i>
              </div>

              <div class="recent-card-info">
                <span>Last edited 23:00</span>
                <i class="bi bi-star-fill"></i>
              </div>

            </div>
          </div>

        </div>

        <div class="col-lg">
          <div class="recent-card-purple">
            <div class="recent-card-style">
              <div class="recent-card-top">

              </div>
            </div>
            <div class="recent-card">
              <div class="recent-card-title">
                <span>Forcasting October 2024 by Alan</span>
                <i class="bi bi-three-dots-vertical"></i>
              </div>

              <div class="recent-card-info">
                <span>Last edited 23:00</span>
                <i class="bi bi-star-fill"></i>
              </div>

            </div>
          </div>

        </div>
        
        
        <div class="col-lg">
          <div class="recent-card-sky">
            <div class="recent-card-style">
              <div class="recent-card-top">

              </div>
            </div>
            <div class="recent-card">
              <div class="recent-card-title">
                <span>Forcasting October 2024 by Alan</span>
                <i class="bi bi-three-dots-vertical"></i>
              </div>

              <div class="recent-card-info">
                <span>Last edited 23:00</span>
                <i class="bi bi-star-fill"></i>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>
    <app-file-table
      [fileData]="folderData"
    ></app-file-table>

  </section>